{% extends 'customer/base.html' %}

{% block content %} 

<h2>Online Food Ordering (customer profile)</h2>

<h3>customer info page</h3>
{% load account %}
{% load i18n %}
<br>current balance 
<b> ${{ balance }} </b>

{% if user.is_authenticated %}

  <table cellpadding=30 border=0><tr><td> 
  {{ user.first_name }} {{ user.last_name }} <br>
  {{ phone }} <br>
  {{ email }} <br>

  <br>
  {{ street }} <br>
  {{ city }}, {{ state }} {{ zip_code }} <br>
  <hr>
  Orders history <br>
  {% for order in orders %}
  {% if order.email == user.email %}

     {% for item in order.items.all %}
        {{ order.created_on}} <br>
        {{ item.name }} ${{ item.price }} <br>
     {% endfor %}
     <br>

  {% endif %}
  {% endfor %}
  </td></tr></table>

{% endif %}

<br><br>

<h4>show more info?</h4>

more text here...
<br><br>
more text here...


{% endblock content %}
