{% extends 'customer/base.html' %}

{% block content %} 

<h2>Online Food Ordering (customer profile)</h2>

<h3>customer info page</h3>
{% load account %}
{% load i18n %}

{% if user.is_authenticated %}

  <table cellpadding=30 border=0><tr><td> 
  {{ user.first_name }} {{ user.last_name }} <br>
  {{ phone }} <br>
  <br>
  {{ street }} <br>
  {{ city }}, {{ state }} {{ zip_code }} <br>
  <hr>


  </td></tr></table>

{% endif %}

<br><br>

<h2>show customer account balance</h2>

more text here...
<br><br>
more text here...


{% endblock content %}
