{% extends 'customer/base.html' %}

{% block content %} 

<!-- front page 
http://127.0.0.1:8000/
-->

<h1>Online Food Delivery (Moonshot project)</h1>
<br>
<h2>Front Page</h2>
<h3> . . . . </h3>
<br><br>


<h2>Place an order!</h2>

<table border=0 cellpadding=30>
<tr><td>
<button style="background-color:#0099ff" type="button" class="btn btn-primary btn-rounded" primaryAction" 
onclick="document.location='/order/'">Order Now</button>
</td></tr>


<tr><td>
{% if not user.is_authenticated %}
<button style="background-color:#0099ff" type="button" class="btn btn-primary btn-rounded" primaryAction" 
onclick="document.location='/accounts/login/'">Login</button>

<HR>
<a href="/admin/"> <i> admin login </i>   </a>
{% endif %}

{% if user.is_authenticated %}
<button style="background-color:#0099ff" type="button" class="btn btn-primary btn-rounded" primaryAction" 
onclick="document.location='{% url 'account_logout' %}'">Logout</button>
{% endif %}

</td></tr>

</table>

{% endblock content %}
