{% extends 'customer/base.html' %}
{% block content %} 

<h2>Online Food Ordering (Menu)</h2>

<div class="hoverwrap">
  <img src="/media/menu_images/hawaii-bbq-chicken-pizza.jpg" alt="Hawaii BBQ Chicken Pizza">
  <div class="hovercap">Hawaii BBQ Chicken Pizza</div>
</div>

<br><br>

<h3>show complete menu</h3>

more contents here...
<br><br>

<div class="container mb-5">
    <div class="row justify-content-left mt-1">
        <div class="card col-md-5 col-sm-12 offset-md-1 p-4 text-left">
            <a href="{% url 'order' %}" class="btn btn-outline-primary">Place an Order</a>
        </div>
    </div>
</div>


{% endblock content %}
