{% extends 'customer/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<script type="text/javascript">
function validateCheckboxes() {
    var form_data = new FormData(document.querySelector("form"));

    if (!form_data.has("items[]")) {
         document.getElementById("chk_option_error").style.visibility = "visible";
         return false;      
    }
    else {
      document.getElementById("chk_option_error").style.visibility = "hidden";
      return true;
    }
}
</script>


<div class="container mb-5">
    <div class="row justify-content-left mt-1">
        <div class="col-md-12 col-sm-12 p-4">
            <form method="POST">
                {% csrf_token %}
                <div class="pt-5">
                    {% for app in appetizers %}
                    <div class="row" justify-content-left>
                        <div class="col-md-2 col-sm-12">
                            <a href="{{ app.image.url }}" target="_blank">
                            <img class="rounded" src="{{ app.image.url }}" width=160 height=120 alt="food photo"/>
                            </a>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ app.pk }}">
                                    <label class="form-check-label">{{ app.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5"> &nbsp; ${{ app.price }}</p>
                            </div>
                            <p>{{ app.description }}</p>
                        </div>
                    </div>
                    <hr />
                {% endfor %}
                </div>

                <div class="pt-5">
                    {% for entre in entres %}
                    <div class="row mt-4">
                        <div class="col-md-2 col-sm-12">
                            <a href="{{ entre.image.url }}" target="_blank">
                            <img class="rounded" src="{{ entre.image.url }}" width=160 height=120 alt="food photo"/>
                            </a>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ entre.pk }}">
                                    <label class="form-check-label">{{ entre.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5"> &nbsp; ${{ entre.price }}</p>
                            </div>
                            <p>{{ entre.description }}</p>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                </div>


{% load account %}
{% load i18n %}
       {% if user.is_authenticated %}

                <div class="form-group pt-3">
                    <label for="name">Full Name</label>
                    <input required class="form-control" type="text" value="{{user.first_name}} {{user.last_name}}" name="name" />
                </div>

                <div class="form-group pt-3">
                    <label for="name">Email</label>
                    <input required class="form-control" type="text" value="{{user.email}}" name="email" />
                </div>

                <div class="form-group pt-3">
                    <label for="name">Phone</label>
                    <input required class="form-control" type="text" value="{{this_customer.phone}}" name="phone" />
                </div>

                <div class="form-group pt-3">
                    <label for="name">Street Address</label>
                    <input required class="form-control" type="text" value="{{this_customer.street}}" name="street" />
                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group pt-3">
                            <label for="name">City</label>
                            <input required class="form-control" type="text" value="{{this_customer.city}}" name="city" />
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-12">
                        <div class="form-group pt-3">
                            <label for="name">State</label>
                            <input required class="form-control" type="text" value="{{this_customer.state}}" name="state" />
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-12">
                        <div class="form-group pt-3">
                            <label for="name">Zip Code</label>
                            <input class="form-control" type="text" value="{{this_customer.zip_code}}" name="zip" />
                        </div>
                    </div>
                </div>
                <div class="form-group pt-3">
                    <select name="home_delivery" id="home_delivery">
                    <option value="True" selected>Home delivery</option>
                    <option value="False">Pickup at restaurant</option>
                    </select>
                </div>

                <button onclick="return validateCheckboxes();" class="btn btn-rounded btn-light mt-5">Place Order Now</button>
                <div style="visibility:hidden; color:red;" id="chk_option_error">
                Please select food items :)
                </div>
       {% endif %}

       {% if this_customer.warnings > 0 %}
       <h6>Your account has {{this_customer.warnings}} warnings.</h6>
       {% endif %}

       {% if not user.is_authenticated %}
       <h3>
       <mark>You must login before ordering food</mark>
       </h3>
       <button style="background-color:#0099ff" type="button" class="btn btn-primary btn-rounded"
       onclick="document.location='/accounts/login/'">Login</button>
       {% endif %}

            </form>
        </div>
    </div>
</div>

<br><br>

{% endblock content %}
