{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Log out" %}{% endblock %}

{% block content %}

<div class="row justify-content-center">
  <div class="col-md-6 col-sm-12 text-left pb-3">
    <h1>{% trans "Log Out" %}</h1>
    <p>{% trans 'Are you sure?' %}</p>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-6 col-sm-12">
    <form method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}
      <button style="background-color:#b3e0ff" class="btn btn-light btn-rounded" type="submit">{% trans 'Log Out' %}</button>
    </form>
  </div>
</div>


{% endblock %}
