<nav class="navbar navbar-expand-lg navbar-light indigo">
  <a class="navbar-brand" href="{% url 'index' %}">Food Connect</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
    <a href="/orders_biddings_all/">Delivery drivers biddings (Manager view)</a>
    </ul>
    <ul class="navbar-nav">
    </ul>
  </div>
</nav>
